body {
  background-color: #fcf8e3 !important;
  font-family: "Poppins", sans-serif;
}

.dynapuff {
  font-family: 'DynaPuff', cursive;
}

.padding-top{
    padding-top: 30px;
}

.padding-top-d{
  padding-top: 45px;
}

.my-card {
  width: 18rem;
}

.green-light{
   background-color: #BFF0E7;
}

.my-navbar {
  background-color: #00A39B;
}

.nav-icon {
  color: #fcf8e3;
}

.login-body {
  background-color: #00A39B;
  min-height: 100vh;
  padding-top: 25px;
}

.back-login{
  width: 100%;
  max-width: 550px;
}

.aut-form{
  width: 100%;
  max-width: 400px;
}

.my-logo{
    height: 90px;
}

.yellow{
    color: #fcf8e3;
}

.green{
    color: #00A39B ;
}

.bg-green{
    background-color: #00A39B;
}

.bg-yellow{
    background-color:  #fcf8e3 !important;
}

.my-card {
  width: 18rem;
  border-radius: 1rem;
  transition: transform 0.2s ease;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container {
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative; 
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.my-card:hover {
  transform: scale(1.03);
}

.add-pet-btn {
  width: 45px;
  height: 45px;
  border-radius: 50% !important;
  background-color: #fb6376;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  transition: all 0.2s ease;
}

.add-pet-btn:hover {
  background-color: #e95566;
  transform: scale(1.08);
  color: white;
}

.profile-card {
  max-width: 400px;
  width: 100%;
  border-radius: 16px;
}

.option-item {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.option-item:hover {
  background-color: #f5f5f5;
}

.icon {
  color: #00a39b;
  margin-right: 10px;
  font-size: 1.2rem;
}
